<div>
  <%= form_for @laundromat do |f| %>
    <div class="row">
      <%= f.label :name, 'Laundromat Name' %>
      <%= f.text_field :name %>
    </div>
    <br />
    <div class="row address">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address %>
    </div>
    <br />
    <div class="row city">
      <%= f.label :city, 'City' %>
      <%= f.text_field :city %>
    </div>
    <br />
    <div class="row state">
      <%= f.label :state, 'State' %>
      <%= f.select :state, options_for_select(StatesHelper::US_STATES, :selected => @laundromat.state),:name=>"state",:id=>"state" %>
    </div>
    <br />
    <div class="row zip_code">
      <%= f.label :zip_code, 'Zip Code' %>
      <%= f.text_field :zip_code %>
    </div>
    <br /><br /><br />
    <div class="row">
      <%= f.submit @submit, :class => 'button' %>
    </div>
  <% end %>
</div>
