<div>
  <%= form_for @laundromat do |f| %>
    <div class="row">
      <%= f.label :name, 'Laundromat Name' %>
      <%= f.text_field :name %>
    </div>
    <br />
    <div class="row address">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address %>
    </div>
    <br />
    <div class="row city">
      <%= f.label :city, 'City' %>
      <%= f.text_field :city %>
    </div>
    <br />
    <div class="row state">
      <%= f.label :state, 'State' %>
      <%= f.select :state, options_for_select(StatesHelper::US_STATES, :selected => @laundromat.state),:name=>"state",:id=>"state" %>
    </div>
    <br />
    <div class="row zip_code">
      <%= f.label :zip_code, 'Zip Code' %>
      <%= f.text_field :zip_code %>
    <div class="row">
      <br />
      <%= f.label :washers_available, 'Washers Available' %>
      <%= f.select :washers_available, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]),:name=>"washers_available",:id=>"washers_available" %>
    </div>
      <br />
    <div class="row">
      <%= f.label :dryers_available, 'Dryers Available' %>
      <%= f.select :dryers_available, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]),:name=>"dryers_available",:id=>"dryers_available" %>
    </div>
    <br /><br /><br />
    <div class="row">
      <%= f.submit @submit, :class => 'button' %>
    </div>
  <% end %>
</div>
