<section id="content" class="wrapper">
  <h1>Find Your Laundromat</h1>
  <br /><br />
<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <div id="map" class="map"></div>
<button class="button special trigger">Add Laundromat</button>
<br />
<br /><br />
  <h1>Laundromats</h1>
  <br /><br />
    <% @laundromats.each do |laundromat| %>
      <div class="laundromats 6u -1u">
        <div class="row">
        <div class="1u -10u">
          <% if user_signed_in? %>
            <%= link_to "", edit_laundromat_path(laundromat) + "#main", class: "edit icon fa-pencil" %>&nbsp;<%= link_to "", laundromat_path(laundromat) + "#main", class: "delete icon fa-trash", method: :delete %>
          <% end %>
        </div>
        </div>
      <h3><%= laundromat.name %></h3>
      <h5><%= laundromat.address %> <%= laundromat.city %>, <%= laundromat.state %></h5>
      <% if @washers %>
        <p>Most recent number of washers available: <%= @washers.last.number_available %></p>
      <% end %>
      <br />
      <% if @dryers %>
        <p>Most recent number of dryers available: <%= @dryers.last.number_available %></p>
      <% end %>
      <%= link_to "More", laundromat_path(laundromat) + "#main", class: "button" %>
      <br />
      </div>
      <br /><br />
    <% end %>
    <div class="8u -1u">
    <%= link_to 'Add New Laundromat', new_laundromat_path, class: "button special trigger", role: "button" %>
  </div>
    <br />
  <br />
</section>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBA7bgxs6YiFP-B9JCWroTXZT7I0U6gkjg&libraries=places&callback=initMap' %>
