<!DOCTYPE html>
<html>
<head>
  <title>Washr</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="landing">

  <!-- Page Wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Washr</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <% else %>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                  <li><%= link_to "Sign In", new_user_session_path, class: 'sign-in' %></li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>Washr</h2>
        <p>Never wait for the<br />
          washing machine again.</p><br />
        </div>
        <a href="#one" class="more scrolly">Learn More</a>
      </section>

      <!-- One -->
      <section id="one" class="wrapper style1 special">
        <div class="inner">
          <header class="major">
            <h2>Save time, check laundromat traffic beforehand</h2>
            <p>Washr uses crowdsourced data to let you know if your laundromat is busy.<br />
              Enter the address and see whether there are washers and dryers available.</p>
            <br /><br /><br /><br /><br /><br />
            <span class="icon fa-bar-chart"></span>
          </header>
        </div>
      </section>

  

      <!-- Header -->
      <br />

      <div id="main">
        <div class="submain">
          <div class="flash">
            <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
            <% end %>
          </div>
          <br />
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://github.com/kristinruben" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://www.instagram.com/kristin_knits/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.linkedin.com/in/kruben" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://angel.co/kristin-ruben" class="icon fa-angellist"><span class="label">Angellist</span></a></li>
        <li><a href="http://kristinruben.com" class="icon fa-space-shuttle"><span class="label">Website</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Washr</li>
      </ul>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/92d99cf3de.js' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAfjXa1ss9t4HUqrNEV_CqJFx-bglxrXpU&libraries=places&callback=initMap' %>
  </body>
  </html>
